$font-size: 14px;
$point-year: 36px;
$point-year-mob: 26px;
$header-height: 65px;

$background: #1C1C1C;;
$white: #CFD8DC;
$main-text: #CFD8DC;
$secondary-text: #959595;
$background-header: #191919;
$contrast-color: #2395ae;
$grey-blue: #263238;

$dark-grey: #464747;
$timeline-container-bg: #1E1E1F;
$timeline-item-bg: #222223;

$red: #DD1948;
$red-orange: #FC4922;
$orange: #F7620D;
$coral: #ffa975;
$yellow: #FDCF2A;
$lime-green: #9FD430;
$forest-green: #2DAE18;
$dark-green: #128D0F;
$shamrock-green: #1AB156;
$moss-green: #4C9F5E;
$seafoam-green: #8ADFB1;
$sky-blue: #a4c2db;
$cerulean-blue: #2EBAD8;
$royal-blue: #416fe4;
$medium-blue: #1950DD;
$ultramarine-blue: #2E0DF7;
$sapphire-blue: #2F47C6;
$deep-blue: #5564b0;
$lavander-purple: #8b4985;
$dark-purple: #4F0D5A;
$purple: #97208f;
$burgundy: #670947;
$raspberry: #ca295f;
$magenta: #EA1BB0;
$rose-pink: #f497b6;
$white: #ffffff;

/* projects page */
$projects-text-container-width: 320px;
/* projects page */