@use 'variables' as v;

.page.main-page {
  padding-top: 65px;
  padding-bottom: 50px;
}

.main-page {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  min-height: 100vh;
  max-width: 900px;
  margin: auto;
  transition: 500ms ease-out;

  @media screen and (max-width: 800px) {
  }

  /* &.scrolled {
    transform: scale(0.8);
  } */

  &_image {
    width: 100%;
    max-width: 250px;
    border-radius: 50%;
  }

  &_text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
    top: 70px;
    text-align: center;

    @media screen and (max-width: 800px) {
      align-self: flex-start;
    }

    &_subtitle {
      font-size: 24px;
      font-weight: 500;
      margin-bottom: 0;
      background-repeat: no-repeat;

      @media screen and (max-width: 641px) {
        font-size: 14px;
      }
    }

    &_title {
      font-weight: 700;
      font-size: 64px;
      margin: 15px 0 0;

      @media screen and (max-width: 900px) {
        font-size: 54px;
      }
  
      @media screen and (max-width: 641px) {
        font-size: 40px;
      }
    }

    &_text {
      text-align: center;
      font-size: 18px;
      margin-top: 20px;
      line-height: 1.5;

      @media screen and (min-width: 800px) {
        max-width: 550px;
      }
    }
  }

  .link-container {
    font-weight: 500;
  }
}
